@media (max-width: 991px) {
  .header {
    padding: 2%;
  }
  .promo {
    &__wrapper {
      padding: 3%;
      margin-top: 20px;
      padding-bottom: 0px;
    }
    &__header {
      font-size: 38px;
    }
    &__subheader {
      font-size: 21px;
    }
    &__icons {
      margin-top: 40px;
    }
  }
  .advantages {
    padding: 40px 0 40px 0;
  }
}

@media (max-width: 767px) {
  .header {
    &__phone {
      font-size: 16px;
    }
  }
  .promo {
    padding: 3%;
  }
  .advantages {
    padding: 30px 5px 30px 5px;
    &__wrapper {
      margin-top: 40px;
    }
    &__item {
      max-width: 180px;
    }
  }
}

@media (max-width: 575px) {
  .header {
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
    &__logo {
      display: none;
    }
    &__contacts {
      margin-top: 10px;
    }
  }
  .promo {
    &__header {
      text-align: end;
      font-size: 34px;
    }
    &__subheader {
        margin-top: 0;
        text-align: end;
    }
    &__icon {
      width: 90px;
    }
    &__link {
      margin-top: 10px;
    }
  }
  .button_main {
    margin-top: 40px;
    width: 266px;
  }

  .title {
    font-size: 26px;
  }
  .advantages {
    &__wrapper {
      margin-top: 0;
      flex-direction: column;
      align-items: center;
    }
    &__icon {
      margin-top: 30px;
    }
    &__subtitle {
      margin-top: 10px;
    }
    &__descr {
      margin-top: 5px;
    }
  }
}
